.meneger-card {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
    margin-top: 8px;
    background: #f2f2f2;
    border-radius: 4px;
  }
  
  .meneger-card__name {
    font-size: 16px;
  }
  
  .meneger-card__delete-btn {
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .meneger-card__delete-btn:hover {
    background: gray;
    border-radius: 5px;
  }
  